<p id="notice"><%= notice %></p>

<h1>Admin Lists</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_lists.each do |admin_list| %>
      <tr>
        <td><%= admin_list.channel_id %></td>
        <td><%= admin_list.name %></td>
        <td><%= link_to 'Show', admin_list %></td>
        <td><%= link_to 'Edit', edit_admin_list_path(admin_list) %></td>
        <td><%= link_to 'Destroy', admin_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin List', new_admin_list_path %>
